@font-face {
    font-family: "Blood Thirst";
    src: url("BloodThirst.ttf") ;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", "SansSerif";
    background-image: url('night.jpg');
    background-size: contain;
}


.card {
    /*font-family: "Blood Thirst";*/
    height: 250px;
    margin-bottom:0.5em;
    border-radius:0;
    position:relative;
}

.card img {
    height: 250px;
    object-fit: cover;
    object-position: top;
    position:absolute;
    z-index: 0;
    filter: grayscale(100%);
}

.card .card-body {
    color:white;
    position:absolute;
    z-index: 1;

}

.card-on {
    border:1px solid red;
}
.card-on img {
    filter: grayscale(0%);
}

.map > .leaflet {
    height: 50vh;
    z-index: 0;
}

.map {
    position: relative;
}

.map .address {
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    z-index: 1;
}

.address input {
    font-size: 1em;
    opacity: 0.9;
}